:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 15px auto;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.frame {
  display: flex;
  flex-direction: column;
}

.board {
  border: 1px solid #000;
  display: grid;
  grid-row-gap: 1px;
  grid-column-gap: 1px;
}

.board.height-10 {
  grid-template-rows: repeat(10, 1fr);
}
.board.height-15 {
  grid-template-rows: repeat(15, 1fr);
}
.board.height-18 {
  grid-template-rows: repeat(18, 1fr);
}

.board.width-10 {
  grid-template-columns: repeat(10, 1fr);
}
.board.width-15 {
  grid-template-columns: repeat(15, 1fr);
}
.board.width-25 {
  grid-template-columns: repeat(25, 1fr);
}
.board.width-32 {
  grid-template-columns: repeat(32, 1fr);
}

.cell::selection {
  background: transparent;
}

.cell {
  height: 20px;
  width: 20px;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell.hidden {
  background-color: #8a8a8a;
  border-top: 3px solid #aaaaaa;
  border-left: 3px solid #aaaaaa;
  border-bottom: 3px solid #6a6a6a;
  border-right: 3px solid #6a6a6a;
}
.cell.open {
  background-color: #aaaaaa;
  border: 3px solid #aaaaaa;
}
.cell.mine {
  background-color: #a31212;
  border: 3px solid #a31212;
}
.cell.flag {
  background-color: #1212a3;
  border-top: 3px solid #3232c3;
  border-left: 3px solid #3232c3;
  border-right: 3px solid #020283;
  border-bottom: 3px solid #020283;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
