.board {
  border: 1px solid color(board-border);
  display: grid;
  grid-row-gap: 1px;
  grid-column-gap: 1px;
}

.board.height-10 {
  grid-template-rows: repeat(10, 1fr);
}
.board.height-15 {
  grid-template-rows: repeat(15, 1fr);
}
.board.height-18 {
  grid-template-rows: repeat(18, 1fr);
}

.board.width-10 {
  grid-template-columns: repeat(10, 1fr);
}
.board.width-15 {
  grid-template-columns: repeat(15, 1fr);
}
.board.width-25 {
  grid-template-columns: repeat(25, 1fr);
}
.board.width-32 {
  grid-template-columns: repeat(32, 1fr);
}

.cell::selection {
  background: transparent;
}

.cell {
  height: 20px;
  width: 20px;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell.hidden {
  background-color: color(board-cell-hidden-bg);
  border-top: 3px solid color-light(board-cell-hidden-bg);
  border-left: 3px solid color-light(board-cell-hidden-bg);
  border-bottom: 3px solid color-dark(board-cell-hidden-bg);
  border-right: 3px solid color-dark(board-cell-hidden-bg);
}
.cell.open {
  background-color: color(board-cell-open-bg);
  border: 3px solid color(board-cell-open-bg);
}
.cell.mine {
  background-color: color(board-cell-mine-bg);
  border: 3px solid color(board-cell-mine-bg);
}
.cell.flag {
  background-color: color(board-cell-flag-bg);
  border-top: 3px solid color-light(board-cell-flag-bg);
  border-left: 3px solid color-light(board-cell-flag-bg);
  border-right: 3px solid color-dark(board-cell-flag-bg);
  border-bottom: 3px solid color-dark(board-cell-flag-bg);
}
