.screen {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: 15px auto;
}
  
.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.frame {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 200px;

    button {
        margin: 5px;
    }
}
