@use 'sass:color';

$colors: (
  board-border: #111111,
  board-cell-open-bg: #5c5c5c,
  board-cell-hidden-bg: #8acec5,
  board-cell-flag-bg: #c26d0c,
  board-cell-mine-bg: #a31212
);

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
    --color-#{$name}-light: #{color.adjust($color, $hue: -10deg, $lightness: 20%)};
    --color-#{$name}-dark: #{color.adjust($color, $hue: 10deg, $lightness: -20%)};
    --color-#{$name}-darker: #{color.adjust($color, $hue: 20deg, $lightness: -40%)};
  }
}

@function color($color-name) {
  @return var(--color-#{$color-name});
}

@function color-light($color-name) {
  @return var(--color-#{$color-name}-light);
}

@function color-dark($color-name) {
  @return var(--color-#{$color-name}-dark);
}

@function color-darker($color-name) {
  @return var(--color-#{$color-name}-darker);
}
